@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
// Variables
$background-color: #9e2b3a;
$font-color-h1: #f8f7e9;
$font-color: #0e0e0e;
$font-color-hover: #161616;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 25px;
	background-color: $background-color;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
	max-width: 1000px;
}
.header {
	font-size: 38px;
	color: $font-color-h1;
	text-align: right;
	margin-bottom: 25px;
}
.projects {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	list-style-type: none;
	margin-bottom: 20px;
}
li {
	border-top: 2px solid $font-color;
	padding-top: 12px;
	padding-right: 12px;
	height: 105px;
}
li.project-name {
	padding-top: 0px;
}

.project-name {
	font-size: 3rem;
}
.name {
	color: $font-color-h1;
	font-size: 3rem;
	padding-left: 160px;
}
a {
	color: $font-color;
	text-decoration: none;
}
a:hover {
	color: $font-color-hover;
}
@media screen and (max-width: 690px) {
	.projects {
		grid-template-columns: 1fr;
		border-top: 2px solid $font-color;
	}
	li {
		border-top: 0px solid black;
	}
	.project-date {
		height: 45px;
	}
}
